.c-header {
    display: flex;
    justify-content: space-between;

    max-width: $max-width;
    width: $common-width;

    margin: 12px auto;

    &__heading {
        font-size: 32px;
        font-weight: bold;

        @include mq-down('md') {
            font-size: 18px;
        }
    }
}

.c-gnav {
    align-items: flex-end;
    display: flex;
    justify-content: space-around;

    &__link {
        margin: 0 16px;
    }
}
