.l-section {
    @include mq-up('xl') {
        width: 1140px;
    }

    @include mq-down('xl') {
        width: 960px;
    }

    @include mq-down('lg') {
        width: $common-width;
    }

    @include mq-down('md') {
        width: 92%;
    }
}

.c-section {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    margin: 54px auto;

    @include mq-down('md') {
        display: block;
        margin: 24px 4%;
    }

    &__primary {
        width: 780px;

        @include mq-down('xl') {
            width: percentage(780 / 1140);
        }

        @include mq-down('md') {
            width: 100%;
        }
    }

    &__heading {
        margin-bottom: 40px;
        padding-bottom: 14px;

        line-height: 1;
        font-size: 24px;
        font-weight: bold;
        
        border-bottom: 4px solid $primary-color;
        
        &--mark {
            font-size: 16px;
            font-weight: normal;
        }
    }

    &__aside {
        width: 300px;

        @include mq-down('xl') {
            width: percentage(300 / 1140);
        }

        @include mq-down('md') {
            width: 100%;

            margin-top: 30px;
        }
    }

    &__article {
        width: 100%;

        h2 {
            text-align: center;
        }
    }
}
