.c-overlay {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;

    width: 100vw;
    height: 100vh;
    transition: .2s;

    z-index: 100;

    &.is-hide {
        opacity: 0;
        pointer-events: none;
    }
}

.c-loading {
    position: relative;
    width: 100px;
    height: 100px;

    &::before {
        content: '';

        display: block;

        position: absolute;
        top: 4px;
        left: 4px;

        background: $white;

        width: 82px;
        height: 82px;

        border-radius: 50%;

        z-index: 2;
    }

    &::after {
        content: '';

        display: block;

        position: absolute;
        top: 0;
        left: 0;

        background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, $secondary-color 50%, $secondary-color 100%);

        width: 45px;
        height: 45px;

        border-radius: 200px 0 0;

        animation: loading .9s linear infinite;

        z-index: 1;
    }
}
@keyframes loading {
    0% {
        transform-origin: 100% 100%;
        transform: rotate(0deg);
    }
    100% {
        transform-origin: 100% 100%;
        transform: rotate(360deg);
    }
}
