<aside class="c-section__aside c-aside">
    <section class="c-aside__item">
        <h4 class="c-aside__heading">About</h4>

        <p>自己紹介文をここに入れたらいい感じになると思うよ。</p>
    </section>

    <section class="c-aside__item">
        <h4 class="c-aside__heading">Category</h4>

        <div class="c-links">
            <a href="" class="c-links__item">Google</a> /
            <a href="" class="c-links__item">Amazon</a> /
            <a href="" class="c-links__item">Facebook</a> /
            <a href="" class="c-links__item">Apple</a> /
            <a href="" class="c-links__item">Creative</a> /
            <a href="" class="c-links__item">SEO</a>
        </div>
    </section>

    <section class="c-aside__item">
        <h4 class="c-aside__heading">Recommend</h4>

        <article class="c-list">
            <h4 class="c-list__heading">タイトル</h4>
            <img src="./images/products-1.jpg" alt="" class="c-list__thumb">
        </article>

        <article class="c-list">
            <h4 class="c-list__heading">タイトル</h4>
            <img src="./images/products-2.jpg" alt="" class="c-list__thumb">
        </article>
    </section>
    
    <section class="c-aside__item">
        <h4 class="c-aside__heading">Archive</h4>

        <a href="" class="c-archive">2019.12</a>
        <a href="" class="c-archive">2019.9</a>
    </section>
</aside>