<nav class="l-gnav c-gnav">
    <input type="checkbox" id="is-gnav-label" class="c-humberger__input">
    <label for="is-gnav-label" class="l-gnav__humberger c-humberger">
        <span class="c-humberger__line c-humberger__line--1"></span>
        <span class="c-humberger__line c-humberger__line--2"></span>
        <span class="c-humberger__line c-humberger__line--3"></span>
    </label>

    <div class="l-gnav__menu c-gnav__menu">
        <div class="c-gnav__items">
            <a href="index.html" class="c-gnav__item">Top</a>
            <a href="card.html" class="c-gnav__item">Card</a>
            <a href="panel.html" class="c-gnav__item">Panel</a>
            <a href="information.html" class="c-gnav__item">Information</a>

            <div class="l-gnav__footer c-gnav__footer">
                <a href="/" class="c-gnav__sns">Twitter</a>
                <a href="/" class="c-gnav__sns">facebook</a>
                <a href="/" class="c-gnav__sns">Instagram</a>
            </div>
        </div>
    </div>
</nav>