<header class="c-header l-section">
    <h1 class="c-header__heading">utablog</h1>

    <nav class="c-header__nav c-gnav">
        <a href="" class="c-gnav__link">リンク</a>
        <a href="" class="c-gnav__link">リンク</a>
        <a href="" class="c-gnav__link">リンク</a>
    </nav>
</header>