<header class="c-header">
    <h1>Logo</h1>

    <nav class="c-gnav">
        <ul class="c-gnav__items">
            <li class="c-gnav__item"><a href="" class="c-gnav__link">リンク</a></li>
            <li class="c-gnav__item"><a href="" class="c-gnav__link">リンク</a></li>
            <li class="c-gnav__item"><a href="" class="c-gnav__link">リンク</a></li>
        </ul>
    </nav>
</header>