body {
    background: $light-gray;
}

p {
    line-height: 1.6;
    font-size: 14px;
}

a {
    display: block;
    text-decoration: none;
    color: $link-color;

    &:hover {
        text-decoration: underline;
    }
}

img {
    width: 100%;
    vertical-align: bottom;
}
