<%- include('./common/_head', {title:'article'}) %>

<%- include('./common/_header') %>

<div class="c-section l-section">
    <main class="c-section__primary">
        <article class="c-article">
            <h2>マイクロソフト、ツイッター…最高人事責任者が教えてくれた｢採用基準、面接での質問｣</h2>
            <time>2020.1.29</time>
            <img src="/images/products-1.jpg" alt="オルト">

            <ul>
                <li>2020年に大手テック企業に就職したいなら、ヒントはここにある。</li>
                <li>Microsoft、Twitter、LinkedInなど著名テック企業の人事トップに、どうやって面接試験を突破し、昇進していったのか、Business Insiderが聞いた。</li>
            </ul>

            <p>大手テック企業が理想の就職先だと考えている人は多いはずだ。だが、その足がかりを得るのは容易ではない。よしんば就職できたとしても、優秀な人材のなかで昇進していくのはさらに難しいだろう。</p>
            <p>成功の秘訣を知る人がいるとしたら、それは大手テック企業の人事トップだ。彼らは人材の募集から選考、昇進までのすべてを統括している。Business Insiderが彼らを直撃取材した。</p>

            <h3>マイクロソフト（Microsoft）</h3>
            <p>キャスリーン・ホーガン（最高人事責任者）</p>
            <h4>・【マイクロソフトで採用されるために必要な特性を1つあげると？】</h4>

            <p>当社の企業文化は｢グロース・マインドセット｣（＝経験や努力によって能力を向上させられるという信念）に基礎を置いています。そのため、応募者の好奇心、学んで成長したいという熱意を重視しています。</p>
            <p>テキスト<a href="">リンク</a></p>
        </article>
    </main>

    <%- include('./common/_aside') %>
</div>

<%- include('./common/_footer') %>
