<%- include('./common/_head', {title:'article'}) %>

<%- include('./common/_header') %>

<div class="c-section l-section">
    <main class="c-section__primary">
        <article class="c-article">
            <h2>記事のタイトル</h2>
            <img src="/images/products-1.jpg" alt="オルト">

            <h3>見出し</h3>
            <h4>・小見出し</h4>

            <p>テキスト</p>
            <p>テキスト<a href="">リンク</a></p>
            <a href="">リンク</a>

            <ul>
                <li>リスト</li>
                <li>リスト</li>
            </ul>
        </article>
    </main>

    <%- include('./common/_aside') %>
</div>

<%- include('./common/_footer') %>
