<%- include('./common/_head', {title:'top'}) %>

<%- include('./common/_header') %>

<div class="c-section">
    <main class="c-primary">
        <article class="c-jumbotron">
            <h2 class="c-jumbotron__heading">タイトル</h2>
            <time class="c-jumbotron__date">2020.12.31</time>
            <img src="/images/products-1.jpg" alt="オルト" class="c-jumbotron__thumb">
        </article>

        <article class="c-contents">
            <p class="c-contents__tag">Category</p>
            <h3 class="c-contents__heading">タイトル</h3>
            <time class="c-contents__date">2020.12.31</time>
            <img src="/images/products-2.jpg" alt="オルト" class="c-contents__thumb">
        </article>

        <article class="c-contents">
            <p class="c-contents__tag">Category</p>
            <h3 class="c-contents__heading">タイトル</h3>
            <time class="c-contents__date">2020.12.31</time>
            <img src="/images/products-3.jpg" alt="オルト" class="c-contents__thumb">
        </article>
    </main>

    <%- include('./common/_aside') %>
</div>

<%- include('./common/_footer') %>
