<%- include('./common/_head', {title:'top'}) %>

<%- include('./common/_header') %>

<div class="c-section l-section">
    <main class="c-section__primary">
        <article class="c-jumbotron">
            <h2 class="c-jumbotron__heading"><a href="/article.html">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</a></h2>
            <time class="c-jumbotron__date">2020.12.31</time>
            <a href="/article.html"><img src="/images/products-1.jpg" alt="オルト" class="c-jumbotron__thumb"></a>
        </article>

        <article class="c-contents">
            <a href="/article.html"><img src="/images/products-2.jpg" alt="オルト" class="c-contents__thumb"></a>

            <div class="c-contents__detail">
                <p class="c-contents__tag"><a href="">Category</a></p>
                <h3 class="c-contents__heading"><a href="/article.html">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</a></h3>
                <time class="c-contents__date">2020.12.31</time>
            </div>
        </article>
        
        <article class="c-contents">
            <a href="/article.html"><img src="/images/products-3.jpg" alt="オルト" class="c-contents__thumb"></a>

            <div class="c-contents__detail">
                <p class="c-contents__tag"><a href="">Category</a></p>
                <h3 class="c-contents__heading"><a href="/article.html">タイトル</a></h3>
                <time class="c-contents__date">2020.12.31</time>
            </div>
        </article>
        
        <article class="c-contents">
            <a href="/article.html"><img src="/images/products-1.jpg" alt="オルト" class="c-contents__thumb"></a>

            <div class="c-contents__detail">
                <p class="c-contents__tag"><a href="">Category</a></p>
                <h3 class="c-contents__heading"><a href="/article.html">タイトル</a></h3>
                <time class="c-contents__date">2020.12.31</time>
            </div>
        </article>
    </main>

    <%- include('./common/_aside') %>
</div>

<%- include('./common/_footer') %>
