.c-article {
    h2 {
        margin-bottom: 16px;

        line-height: 1.4;
        font-size: 32px;
        font-weight: bold;

        @include mq-down('md') {
            font-size: 24px;
        }
    }
    h3 {
        margin-top: 40px;
        padding: 6px 12px;

        line-height: 2;
        font-size: 24px;
        font-weight: bold;

        border-left: 4px solid $link-color;

        @include mq-down('md') {
            font-size: 20px;
        }
    }
    h4 {
        margin: 12px 0;

        line-height: 2;
        font-size: 18px;
        font-weight: bold;
    }

    p {
        margin: 20px 0;

        line-height: 2;
        font-size: 16px;
    }
    a {
        color: $link-color;

        &:hover {
            text-decoration: underline;
        }
    }
    img {
        margin: 12px 0;
    }

    time {
        font-size: 14px;
    }

    ul {
        margin: 1em 0;
        padding: 1em 0;

        border: 1px dotted $gray;
    }
    li {
        position: relative;

        margin: 12px 1em 12px 2em;

        line-height: 2;
        font-weight: bold;

        &::before {
            content: '・';

            position: absolute;
            top: 0;
            left: -1em;
        }
    }
}
